<div class="container">
  <div class="row">
    <div class="card text-dark shadow mb-3">
      <p class="text-start">{{format_date date_created}}</p>
      <div class="text-center mx-auto pb-3">
        <h2><a href="/post/{{id}}">{{title}}</a></h2>
        <p>{{description}}</p>
        <button class="btn btn-dark" id="editBtn" data-id="{{id}}">Edit</button>
        <button
          class="btn btn-dark"
          id="deleteBtn"
          data-id="{{id}}"
        >Delete</button>
      </div>
    </div>
  </div>
</div>